//COLORS
$color-primary: black;
$color-secondary: #aaa;
$color-dark: #444;
$color-light: #ccc;
$color-neutral: #eee;
$color-clear: #fff;
$color-success: #4bb543;
$color-warning: #b5b343;
$color-danger: #b54343;

//SHADOWS
$shadow-sm: 0 1px 3px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
$shadow-md: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-lg: 0 6px 9px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);

//TRANSITIONS
$transition-time: 0.3s