head
    link(rel="stylesheet" type="text/css" href="css/style.css")

body

    include ./../00-settings/_imports

    .container
        .row
            .col 
                +card('CARD1','parrrafo1',false,'#','confirmar')
            .col 
                +card('CARD2','parrrafo1',false,'#','confirmar')
            .col 
                +card('CARD3','parrrafo1',false,'#','confirmar')