head
    link(rel="stylesheet" type="text/css" href="css/style.css")

body

    include ./../02-components/layout/header

    .container
        .row
            .col
                include ./../02-components/card
            .col
                include ./../02-components/card
            .col
                include ./../02-components/card