head
    link(rel="stylesheet" type="text/css" href="css/style.css")

body

    include ./../00-settings/_imports

    .container
        .row
            - var values = [{'title':'título1','paragraph1':'párrafo1'},{'title':'título2','buttonLink':'#','buttonText':'Acceder'},{'title':'título2','paragraph1':'párrafo1','paragraph2':'párrafo2'}];
            each val in values
                .col 
                    +card(val.title,val.paragraph1,val.paragraph2,val.buttonLink,val.buttonText)