mixin cardsv1(heading, cards)
    .cardsv1
        .container
            h2 #{heading}
            .row
                each card in cards
                    .col 
                        +card(card.title,card.paragraph1,card.paragraph2,card.buttonLink,card.buttonText,card.buttonType)