@mixin card($button:false,$buttonColor:$color-success,$zindex:1,$hover:false){
    .card{
        @include smoothBox($zindex:$zindex);
        h3{
            margin: 0 0 1rem;
            font-size:1.5rem
        }
        @if $button{
            @include button($backgroundColor:$buttonColor)
        }
        @if $hover{
            &:hover{
                @include smoothBox($zindex:$zindex+1);
                transition: all $transition-time ease-out
            }
        }
    }
}