@mixin card($button:false,$zindex:2,$hover:false){
    .card{
        @include smoothBox($backgroundColor:$color-clear, $zindex:$zindex);
        h3{
            margin: 0 0 1rem;
            font-size:1.5rem
        }
        @if $button{
            @include button()
        }
        @if $hover{
            &:hover{
                @include smoothBox($zindex:$zindex+1);
                transition: all $transition-time ease-out
            }
        }
    }
}