@mixin flexGrid ($flex:auto, $justify:false, $align:false) {
    .row{
        margin:0 -0.25rem;
        display: flex;
        @if($justify){
            justify-content: $justify;
        }
        @if($align){
            align-items: $align;
        }
        .col{
            padding: 0.5rem;
            @if($flex){
                flex:$flex;
            }
            @media (max-width: 768px){
                padding:0.5rem 0
            }
        }
        @media (max-width: 768px){
            flex-direction: column;
            margin:0 0.25rem
        }
    }
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    @include flexGrid
}