mixin button(buttonLink, buttonText, buttonType)
    if buttonType
        button(class='button button-'+buttonType href=buttonLink) #{buttonText}
    else
        button(class='button' href=buttonLink) #{buttonText}