@mixin button($textColor:$color-dark) {
    .button{
        @include smoothBox ($backgroundColor:$color-secondary, $padding:0.75rem 1rem);
        width:100%;
        color: $textColor;
        outline: 0;
        cursor:pointer;
    }
    .button-success{
        @include buttonColor($backgroundColor:$color-success,$lightText:true)
    }
    .button-warning{
        @include buttonColor($backgroundColor:$color-warning,$lightText:true)
    }
    .button-danger{
        @include buttonColor($backgroundColor:$color-danger,$lightText:true)
    }
    .button-light{
        @include buttonColor($backgroundColor:$color-light)
    }
}

    @mixin buttonColor($backgroundColor:$color-light,$lightText:false) {
        @if ($lightText){
            color: $color-clear
        }
        background-color: $backgroundColor;
        &:hover{
            $hoverBackgroundColor: lighten($backgroundColor,10%);
            background-color: $hoverBackgroundColor;
            transition: all $transition-time ease-out
        }
        &:active{
            $activeBackgroundColor: darken($backgroundColor,10%);
            background-color: $activeBackgroundColor
        }
    }