@import "./../00-settings/imports";

/*tags*/
*{
    margin: 0;
    font-family:arial
}

//root//
body{
    background-color: $color-neutral
}

//sectioning//
address{}	
article{}	
aside{}	
footer{}	
header{}	
h1{margin:0} h2{} h3{} h4{} h5{} h6{}	
hgroup{}	
main{}	
nav{}	
section{}	


//text//
blockquote{}	
dd{}	
dir{}	
div{}	
dl{}	
dt{}	
figcaption{}	
figure{}	
hr{}	
li{}	
main{}
ol{}	
p{margin: 1rem 0;}
pre{}	
ul{}	


//inline text semantics//
a{}	
abbr{}	
b{}	
bdi{}	
bdo{}	
br{}	
cite{}	
code{}	
data{}	
dfn{}	
em{}	
i{}	
kbd{}	
mark{}	
q{}	
rb{}	
rp{}	
rt{}	
rtc{}	
ruby{}	
s{}	
samp{}	
small{}	
span{}	
strong{}	
sub{}	
sup{}	
time{}	
tt{}	
u{}	
var{}	
wbr{}	


//embedded content//
applet{}
embed{}
iframe{}
noembed{}
object{}
param{}
picture{}
source{}


//tables//
caption{}	
col{}	
colgroup{}
table{}	
tbody{}	
td{}	
tfoot{}	
th{}	
thead{}
tr{}	


//forms//
button{color:grey;}
datalist{}
fieldset{}
form{}
input{}
label{}
legend{}
meter{}
optgroup{}
option{}
output{}
progress{}
select{}
textarea{}